<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Hello Artifakt" data-text="The fastest way to put applications online" data-moreinfo=""data-view="Image" data-image="/artifakt.jpg"></div>
    </li>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="ratp" data-view="Ratp" data-title="RATP"></div>
</li>
 <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Last One" data-text="Stagiaire" data-moreinfo=""data-view="Image" data-image="/Licorne.jpg"></div>
    </li>
